/Properties/AssemblyInfo.cs
/bin/Debug/RabbitMQ.Client.dll
/bin/Debug/RabbitMQ.Client.xml
/bin/Debug/RabbitMq.Tests.dll
/bin/Debug/RabbitMq.Tests.pdb
/bin/Debug/nunit.framework.dll
/bin/Debug/nunit.framework.xml
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/RabbitMq.Tests.csproj.FileListAbsolute.txt
/obj/Debug/RabbitMq.Tests.dll
/obj/Debug/RabbitMq.Tests.pdb
/packages/NUnit.2.6.3/NUnit.2.6.3.nupkg
/packages/NUnit.2.6.3/lib/nunit.framework.dll
/packages/NUnit.2.6.3/lib/nunit.framework.xml
/packages/NUnit.2.6.3/license.txt
/packages/RabbitMQ.Client.3.2.1/RabbitMQ.Client.3.2.1.nupkg
/packages/RabbitMQ.Client.3.2.1/lib/net20/RabbitMQ.Client.dll
/packages/RabbitMQ.Client.3.2.1/lib/net20/RabbitMQ.Client.xml
/packages/RabbitMQ.Client.3.2.1/lib/net30/RabbitMQ.Client.dll
/packages/RabbitMQ.Client.3.2.1/lib/net30/RabbitMQ.Client.xml
